<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jftt.wifi.dao.KlTagsDaoMapper" >
  <resultMap id="KlTagsBean" type="com.jftt.wifi.bean.KlTagsBean" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tag_name" property="tagName" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, tag_name, update_time
  </sql>
  <select id="getById" resultMap="KlTagsBean" >
    select 
    <include refid="Base_Column_List" />
    from kl_tags
    where id = #{id}
  </select>
  <select id="isExist" resultType="int">
  	select count(kt.id) from kl_tags kt
  	where kt.tag_name=#{tagName}
  </select>
  <insert id="add">
  	insert into kl_tags(tag_name) values(#{tagName})
  	<selectKey resultType="int" keyProperty="id">  
     SELECT LAST_INSERT_ID() AS ID  
    </selectKey>
  </insert>
  
  <select id="getIdByName" resultType="int">
  	select kt.id from kl_tags kt where kt.tag_name=#{tagName}
  </select>
</mapper>